{
  "mcpServers": {
    "Framelink MCP for Figma": {
      "command": "cmd",
      "args": ["/c", "npx", "-y", "figma-developer-mcp", "--stdio"],
      "env": {
        "FIGMA_API_KEY": "your_figma_personal_access_token"
      }
    },
    "playwright": {
      "command": "cmd",
      "args": ["/c", "npx", "-y", "@playwright/mcp@latest"]
    },
    "postman": {
      "command": "cmd",
      "args": ["/c", "npx", "-y", "@postman/postman-mcp-server", "--full"],
      "envFile": ".env"
    },
    "snyk": {
      "command": "cmd",
      "args": ["/c", "snyk", "mcp", "-t", "stdio"]
    },
    "semgrep": {
      "command": "cmd",
      "args": ["/c", "semgrep", "mcp"]
    },
    "GitGuardian": {
      "command": "cmd",
      "args": [
        "/c",
        "uvx",
        "--from",
        "git+https://github.com/GitGuardian/ggmcp.git",
        "gg-mcp-server"
      ]
    }
  }
}
